<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="爱撒谎的男孩的独立博客"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/base.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link href="css/m.css" rel="stylesheet">
    <link href="css/BootStrap/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div ng-app="myApp" ng-controller="myCtrl">
    <p>名字 : <input type="text" ng-model="firstName"></p>
    <h1>Hello {{firstName}}</h1>
    <button class="btn btn-primary" ng-click="click()">点击</button>
</div>


<script src="js/Angularjs/angular.min.js"></script>
<script src="js/my.js"></script>
<script>

</script>

</body>
</html>